name: SonarCloud Backend

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonar:
    name: Build and Analyze Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Build with Maven
        run: |
          cd gym_backend/gym
          mvn clean verify

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          projectBaseDir: gym_backend/gym
          args: >
            -Dsonar.projectKey=Thirupathi-17_gym_backend
            -Dsonar.organization=thirupathi-17
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
