name: SonarCloud Backend

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Debug folder structure
        run: ls -R

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build with Maven
        run: mvn -B clean verify
        working-directory: gym

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          projectBaseDir: gym
          args: >
            -Dsonar.projectKey=Thirupathi-17_gym_backend
            -Dsonar.organization=thirupathi-17
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

