name: SonarCloud Backend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Build (Skip Tests)
        working-directory: gym_backend/gym/gym
        run: mvn clean install -DskipTests=true

      - name: SonarCloud Analysis
        working-directory: gym_backend/gym/gym
        run: >
          mvn org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
          -Dsonar.projectKey=Thirupathi-17_gym_backend
          -Dsonar.organization=thirupathi-17
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}
