name: SonarCloud Backend

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build and Analyze with Maven
        working-directory: gym_backend/gym/gym
        run: mvn -B clean verify sonar:sonar -DskipTests -Dsonar.projectKey=Thirupathi-17_gym_backend -Dsonar.organization=thirupathi-17 -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=${{ secrets.SONAR_TOKEN }}

